<% myPhotopair = Photopair.new %>
<div>
	<div class="images">

		<div class="left" data-src="/img/<%= myPhotopair.firstphoto[0]+"_small.jpg"%>"></div>
        <div class="left" data-src="/img/<%= myPhotopair.firstphoto[0]+"_medium.jpg"%>" data-media="(min-width: 400px)"></div>
        <div class="left" data-src="/img/<%= myPhotopair.firstphoto[0]+"_large.jpg"%>" data-media="(min-width: 800px)"></div>
        <div class="left" data-src="/img/<%= myPhotopair.firstphoto[0]+"_extralarge.jpg"%>" data-media="(min-width: 1000px)"></div>

		<div class="right" data-src="/img/<%= myPhotopair.secondphoto[0]+"_small.jpg"%>"></div>
        <div class="right" data-src="/img/<%= myPhotopair.secondphoto[0]+"_medium.jpg"%>" data-media="(min-width: 400px)"></div>
        <div class="right" data-src="/img/<%= myPhotopair.secondphoto[0]+"_large.jpg"%>" data-media="(min-width: 800px)"></div>
        <div class="right" data-src="/img/<%= myPhotopair.secondphoto[0]+"_extralarge.jpg"%>" data-media="(min-width: 1000px)"></div>
	</div>

	<div class="funnybutton">
		<a href="" class="button">not funny</a>
	</div>
</div>